* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #f39c12;
}

;

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;

    @media (min-width:415px) and (max-width:500px) {
        margin-top: 30px;
    }

    @media (min-width:376px) and (max-width:414px) {
        margin-top: 30px;
    }

    @media (max-width:375px) {
        margin-top: 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @media (min-width:415px) and (max-width:500px) {
            row-gap: 16px;
        }

        @media (min-width:376px) and (max-width:414px) {
            row-gap: 16px;
        }

        @media (max-width:375px) {
            row-gap: 12px;
        }
    }

    &__title {
        text-align: center;
        color: #ecf0f1;

        h1 {
            font-size: 60px;
        }

        @media (min-width:769px) and (max-width:1024px) {
            h1 {
                font-size: 86px;
            }
        }

        @media (min-width:501px) and (max-width:768px) {
            h1 {
                font-size: 76px;
            }
        }

        @media (min-width:415px) and (max-width:500px) {
            h1 {
                font-size: 44px;
            }
        }

        @media (min-width:376px) and (max-width:414px) {
            h1 {
                font-size: 40px;
            }
        }

        @media (max-width:375px) {
            h1 {
                font-size: 36px;
            }
        }
    }

    &__area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            color: #ecf0f1;
            font-size: 34px;
        }

        @media (min-width:769px) and (max-width:1024px) {
            h2 {
                font-size: 60px;
            }
        }

        @media (min-width:501px) and (max-width:768px) {
            h2 {
                font-size: 50px;
            }
        }

        @media (min-width:415px) and (max-width:500px) {
            h2 {
                font-size: 30px;
            }
        }

        @media (min-width:376px) and (max-width:414px) {
            h2 {
                font-size: 30px;
            }
        }

        @media (max-width:375px) {
            h2 {
                font-size: 28px;
            }
        }
    }

    &__date-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        input {
            width: 308px;
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            border: none;
            border-radius: 5px;
            outline: none;
            padding-left: 6px;
            color: #9b59b6;
            text-align: center;
            box-sizing: border-box;
            margin-bottom: 10px;
            background-color: #ecf0f1;

            &::placeholder {
                color: #9b59b6;
                /* Firefox */
            }

            &::-ms-input-placeholder {
                /* Edge 12-18 */
                color: #9b59b6;
            }
        }

        button {
            width: 308px;
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: #9b59b6;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: #ecf0f1;
            cursor: pointer;

            &:hover {
                box-shadow: 6px 0px 30px #ecf0f1;
            }
        }

        @media (min-width:415px) and (max-width:500px) {
            margin-top: 10px;
            margin-bottom: 0;
        }

        @media (min-width:376px) and (max-width:414px) {
            margin-top: 10px;
            margin-bottom: 0;
        }

        @media (max-width:375px) {
            margin-bottom: 8px;
            margin-top: 10px;
        }
    }

    &__remaining-time-area {
        text-align: center;

        h2 {
            color: #ecf0f1;
            font-size: 34px;
        }

        @media (min-width:769px) and (max-width:1024px) {
            h2 {
                font-size: 60px;
            }
        }

        @media (min-width:501px) and (max-width:768px) {
            h2 {
                font-size: 50px;
            }
        }

        @media (min-width:415px) and (max-width:500px) {
            h2 {
                font-size: 30px;
            }
        }

        @media (min-width:376px) and (max-width:414px) {
            h2 {
                font-size: 30px;
            }
        }

        @media (max-width:375px) {
            h2 {
                font-size: 28px;
            }
        }
    }

    &__remaining-time-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        color: #ecf0f1;

        @media (min-width:769px) and (max-width:1024px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width:501px) and (max-width:768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width:415px) and (max-width:500px) {
            grid-template-columns: 1fr;
            padding: 0;
        }

        @media (min-width:376px) and (max-width:414px) {
            grid-template-columns: 1fr;
            padding: 0 20px;
        }

        @media (max-width:375px) {
            grid-template-columns: 1fr;
            padding: 0 20px;
            gap: 10px;
            margin-top: 10px;
        }
    }

    &__days,
    &__hours,
    &__minutes,
    &__seconds {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 270px;
        border: 1px solid hsl(24, 100%, 41%, 20%);
        border-radius: 10px;
        font-size: 56px;
        padding: 10px;
        box-shadow: 6px 0px 30px hsl(24, 100%, 41%, 70%);

        &:hover {
            box-shadow: 6px 0px 30px #ecf0f1;
        }

        @media (min-width:415px) and (max-width:500px) {
            font-size: 46px;
        }

        @media (min-width:376px) and (max-width:414px) {
            font-size: 28px;
        }

        @media (max-width:375px) {
            font-size: 28px;
        }
    }
}

.disable {
    pointer-events: none;
}